name: BiWeekly Benchmark Run

on:
  schedule:
    - cron: '0 0 1,15 * *'
  workflow_dispatch:

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13.3'

    - name: Install FFmpeg
      run: |
        sudo apt-get update
        sudo apt-get install -y ffmpeg

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Run benchmark
      run: python main.py

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Create Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        tag_name: benchmark-${{ steps.date.outputs.date }}
        name: Benchmark Results ${{ steps.date.outputs.date }}
        body: |
          Weekly benchmark results generated on ${{ steps.date.outputs.date }}.

          **Performance Chart:**

          ***480x270 Benchmark:***
          ![Benchmark Chart](https://github.com/${{ github.repository }}/releases/download/benchmark-${{ steps.date.outputs.date }}/480x270_diagram.png)

          ***1280x720 Benchmark:***
          ![Benchmark Chart](https://github.com/${{ github.repository }}/releases/download/benchmark-${{ steps.date.outputs.date }}/1280x720_diagram.png)

          See attached `.json` for detailed metrics.
        files: |
          480x270_results.json
          1280x720_results.json
          480x270_diagram.png
          1280x720_diagram.png
        draft: false
      env:
        GITHUB_TOKEN: ${{ secrets.TAS }}
